@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i';
@import 'https://fonts.googleapis.com/css?family=Montserrat';

html, body {
  font-style: 16px;
}

@font-face {
  font-family: 'DIN-Condensed';
  src: url('./fonts/DIN-Condensed-Bold.ttf'); /* Safari, Android, iOS */
 }

@font-face {
  font-family: 'DIN-Alternate';
  src: url('./fonts/DIN-Alternate-Bold.ttf'); /* Safari, Android, iOS */
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  line-height: 1.8;
}

a, a:hover, a:focus {
  color: #44b696;
}

li {
  text-align: left;
}

/* App nav bar */
.appBarLogo {
  display: inline-block;
  width: 80px;
}

.appBarNav {
  padding-top: 23px;
  font-size: 15px;
  text-align: right;
}

.navLink {
  margin: 0 20px;
  color: #444;
  padding-bottom: 22px;
  font-family: 'DIN-Alternate';
  text-transform: uppercase;
}

.navLinkSelected {
  color: #44b696;
  border-bottom: 5px solid #44b696;
}

.navLink:hover, .navLink:focus {
  color: #44b696;
}

.socialIcon {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-left: 10px;
}

.socialIcon img{
  width: 100%;
  height: 100%;
}

.headerContainer {
  width: 100%;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* End nav bar */

.headerItem {
  margin-right: 10px;
  margin-left: 10px;
}

.pageTop {
  text-align: center;
  margin-top: 20px;
}

.hero {
  position: relative;
  overflow: hidden;
  text-align: center;
  color: #FFF;
  padding: 100px 0;
  font-size: 22px; 
}

.landingHero {
  composes: hero;
  background-image:url(./images/home-cover-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: lighter;
}

.aboutHero {
  composes: hero;
  background-image:url(./images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: 300;
  line-height: 1.27;
}
.heroCopy h1{
  font-size: 46px;
  line-height: 1.2;
}

.aboutImgContainer {
  composes: hero;
  background-color: #ebebeb;
  margin-bottom: 90px;
}

.heroImg {
  display: block;
  margin: 0;
  width: 100%;
  max-width: 1400px;
}

.landingHeroImg {
  composes: heroImg;
}

.aboutImg {
  composes: heroImg;
  height: 350px;
  width: auto;
  margin-left: 36%;
}

@media (max-width: 600px) {
  .aboutImg {
    margin-left: 0;
  }
}

@media (min-width: 1400px) {
  .landingHeroImg {
    margin-left: 6%;
  }

  .landingHero {
    background-color: rgb(103, 168, 131);
  }
}

.sponsor {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}


.landingBody {
  text-align: left;
  margin-bottom: 60px;
}

.landingBody h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 20px;
}

.landingBody .bodyText {
  width: 370px;
}

.eventsBody {
  background-color: #f5f5f5;
  width: 100%;
}

.eventBox {
  background-color: #fff;
  border-top: 4px solid #44b696;
  margin: 30px 10px;
  padding: 0;
  width: 370px;
}

.eventBox h1,
.eventBox h2,
.eventBox p {
  margin: 5px 0 0 0;
  padding: 0 15px;
}

.eventBox .mainBtn {
  margin: 20px 15px;
}

.eventBox h3 {
  color: #44b696;
  font-size: 16px;
  margin: 0;
}

.eventDetails {
  border: 1px solid #ccc;
  margin: 20px 15px;
  padding: 10px 15px;
}

.eventDetails p {
  margin: 0;
  padding: 0;
}

.eventNotes {
  color: #666;
  font-style: italic;
}

.eventSection:not(:last-child) {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px 0;
}

.pageBody {
  text-align: left;
  margin-bottom: 60px;
}

.heading {
  font-family: Montserrat;
  color: #44b696;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
}

.contactHeading {
  composes: heading;
  margin-bottom: 20px;
  text-align: left;
  border-bottom: 3px solid;
  padding-left: 15px;
}

.headingBottom {
  border-bottom: 3px solid #44b696;
  width: 63px;
  margin-left: 46.5%;
  z-index: -5;
  margin-top: -43px;
  margin-bottom: 40px;
}

.mainBtn {
  background-color: #44b696;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
}

/* Home Page Host Box */
.homepageBox {
  border: 3px solid #64a680;
  height: 170px;
  width: 260px;
  padding: 30px;
}

.homepageBoxContainer {
  display: flex;
  margin-left: 10%;
  margin-top: 70px;
}

.hpBoxHeading {
  composes: heading;
  margin-top: 0;
  margin-bottom: 0;
}

.hpViewMore {
  font-size: 14px;
  font-family: 'DIN-Alternate';
  color: #9bd07c;
  letter-spacing: 1px;
}

@media (max-width: 1025px) and (min-width: 600px) {
  .homepageBox {
    width: 195px;
  }

  .homepageBoxContainer {
    margin-left: 10%;
  }
}

@media (max-width: 520px) {
  .homepageBox {
    width: 260px;
  }

  .homepageBoxContainer {
    display: block;
    margin-left: 16%;
  }
}

/* End Home Page Box */

.bodyText {
  color: #444;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

.bodyTextAbout {
  composes: bodyText;
  margin-bottom: 40px;
  text-align: left;
}

.bodyTextBold {
  composes: bodyText;
  font-weight: 700;
}

.bodyTextBottom {
  composes: bodyText;
  margin-bottom: 60px;
}

.bodyTextWhite {
  composes: bodyText;
  color: white;
}

.bodyTextOTD {
  composes: bodyTextAbout;
  text-align: center;
  letter-spacing: 1px;
}

.eventInfo {
  text-align: left;
}

.eventInfo p {
  margin: 5px 0;
}

.infoLabel {
  color: #44b696;
  font-weight: 600;
  margin: 10px 0 5px;
}

.eventInfo .infoLabel:first-child {
  margin-top: 0;
}

.speakerButton {
  background-color: #efedee;
  margin-bottom: 40px;
}

.applyNowButton {
  background-color: #64a680;
  color: #fff;
  font-size: 30px;
  width: 300px;
  height: 60px;
  margin-left: 40%;
  margin-top: 3%;
  border: 3px solid #fff;
  font-family: 'DIN-Condensed';
}

.applyNowButton:hover {
  background-color: #fff;
  color: #64a680;
}

@media (max-width: 600px) {
  .applyNowButton {
    margin-left: 12%;
    margin-top: 12%;
  }
}

.icon {
  height: 65px;
}

/* Footer */

.footer {
  background-color: #333;
  text-align: center;
}

.footerContact {
  padding: 30px 0;
  color: #fff;
}

.footerContact h3 {
  font-size: 16px;
}

.footerCopyright {
  background-color: #000;
  color: #999;
  padding: 20px 0;
}

/* End Footer */

.hostLogo {
  margin-bottom: 50px;
}

.iceDivider {
  border-bottom: 1px solid rgba(0,0,0,.12);
  margin-bottom: 10px;
}

.staffCard {
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.hamburger {
  font-size: 30px;
  position: absolute;
  right: 0%;
  top: 10px;
  margin-right: 10px;
  display: none;
  cursor: pointer;
}

.dropDownUl {
  list-style: none;
  font-size: 16px;
  color: #444;
  padding: 0;
  margin-bottom: 0;
}

.headerItemResponsive {
  padding: 10px 20px;
  border-bottom: 1px solid #DDD;
}

.headerItemResponsive a {
  color: #444;
}

.headerItemResponsive a:hover {
  color: #44b696;
}

@media (min-width: 1025px) {
  .dropDownUl {
    display: none;
  }
}

@media (max-width: 1024px) {
  .appBarNav {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .socialIcon {
    margin-left: 0;
    margin-right: 10px;
  }
}

.tabBand {
  width: 100%;
  background-color: rgb(165, 206, 134);
  height: 50px;
  margin-top: -90px;
  margin-bottom: 90px;
  border: 1px solid #fff;
  display: flex;
}

.tabCategoryLeft {
  width: 145px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  height: 100%;
  margin-left: 18%;
  font-family: 'DIN-Alternate';
  color: #fff;
  font-size: 17px;
  text-align: center;
  padding-top: 10px;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.tabCategory {
  composes: tabCategoryLeft;
  margin-left: 0;
  border-left: 0;
}

.tabCategoryLeftActive {
  composes: tabCategoryLeft;
  background-color: rgb(65, 138, 107);
}

.tabCategoryActive {
  composes: tabCategory;
  background-color: rgb(65, 138, 107);
}

.tabCategoryProgram {
  composes: tabCategory;
}

.tabCategoryProgramLeft {
  composes: tabCategoryLeft;
}


@media (max-width: 800px) {
  .tabCategoryLeft {
    margin-left: 0;
  }

  .tabCategoryProgramLeft {
    margin-left: 0;
    width: 85px;
  }

  .tabCategoryProgram {
    width: 85px;
  }
}

.panelDetails {
  position: fixed;
  width: 50%;
  z-index: 100;
  left: 50%;
  box-shadow: -3px 4px 4px rgba(0,0,0,.2);
  height: 100vh;
  top: 0;
  background-color: #fff;
}

.panelDetailContent {
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-top: 40px;
}

/* About page */

.homeBody {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  text-align: left;
}

.homeHeading {
  font-family: Montserrat;
  color: white;
  font-size: 36px;
  font-weight: 900;
  margin-top: 65px;
  margin-bottom: 50px;
  line-height: 36px;
  letter-spacing: 1px;
  text-align: left;
}

.sectionBodyWhite p {
  color: white;
}

.sectionBodyWhite ul {
  color: white;
}

.homeHeadingBlack {
  font-family: Montserrat;
  color: black;
  font-size: 36px;
  font-weight: 900;
  margin-top: 65px;
  margin-bottom: 50px;
  line-height: 36px;
  letter-spacing: 1px;
  text-align: left;
}
.sectionBodyWhite {
  background-color: #44b696;
  padding-bottom: 50px;
}

.sectionBodyBlack {
  padding-bottom: 50px;
  color: black;
}

.historyImg {
  margin-top: 65px;
  max-width: 100%;
}

/* End About page */

/* Facts page */

.factsHero {
  composes: hero;
  background-color: #458ccc;
}

.factsHeroIcon {
  width: 195px;
}

.factCards {
  margin-bottom: 30px;
}

.factCard {
  /*width: 370px;*/
  margin: 15px 0;
  height: 590px;
}

.factCardImg {
  width: 340px;
  height: 340px;
}

.factDesc {
  padding: 15px;
  color: #fff;
}

.factCard1 {
  composes: factCard;
  background-color: #279b48;
}

.factCard2 {
  composes: factCard;
  background-color: #ef402b;
}

.factCard3 {
  composes: factCard;
  background-color: #f36d25;
}

.factCard4 {
  composes: factCard;
  background-color: #e11484;
}

.factCard5 {
  composes: factCard;
  background-color: #48773e; 
}

.factCard6 {
  composes: factCard;
  background-color: #02558b;
}

